%html
  %head
    %title wpc2016
    %meta{:charset => "utf-8"}
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
  %body{:style => ("padding-top :70px; padding-left :50px; padding-right :50px")}
    .navbar.navbar-fixed-top
      .container-fluid
        %ul.nav.nav-tabs
          %li.presentation.active
            %a{ :href => "/"} Upload new photo
          %li.presentation
            %a{ :href => "/list"} Create PDF
    %br       
    %form{ :action => "/upload", :method => "post", :multipart => "true", :enctype => "multipart/form-data"}
    %label{:for => "file"} File:
    %input.form-control{:type => "file", "name" => "file"}
    %br
    %input.btn.btn-default{:type => "submit", "value" => "Upload"}

