%form{ :action => "/upload", :method => "post", :multipart => "true", :enctype => "multipart/form-data"}
  %label:{:for => "file"} File:
  %input{:type => "file", "name" => "file"}
  %input{:type => "submit", "value" => "send"}
  