%html
	%head
		%title wpc2016
		%meta{:charset => "utf-8"}
		%link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
	%body{:style => ("padding-top :70px; padding-left :50px; padding-right :50px")}
		.navbar.navbar-fixed-top
			.container-fluid
				%ul.nav.nav-tabs
					%li.presentation
						%a{ :href => "/"} Upload new photo
					%li.presentation.active
						%a{ :href => "/list"} Create PDF
		%br

		%form{ :action => "/save", :method => "post"}
			%label{:for => "name"} Album name:
			%input.form-control{:type => "text", :name => "file_name"}
			%br
			%label{:for => "files[]"} Select photos:
			%select.form-control{ :multiple => "true", :name => "files[]"}
				- @files.each do |file|
					%option{:value => file.downcase} #{file.partition('/').last}
			%br
			%input.btn.btn-default{:type => "submit", "value" => "create"}
